
.specialties-control {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .specialty-item{
        display: flex;
        flex-direction: row;
        .specialty-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            a {
                color: #0b421b;
                font-size: 30px;
                cursor: pointer;
            }
            a:hover {
                color: #e38e16;
            }
        }
    
    }
}