.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e6feff;
}

.page-container {
  max-width: 1080px;
  background-color: #e6feff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.text-center {
  text-align: center;
}

h1 {
  color: #e38e16;
  font-size: 44px;
  font-weight: 600;
  line-height: 70px;
}

p {
  font-weight: 400;
  font-size: 17px;
  line-height: 2em;
  letter-spacing: .6px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
